textarea {
  resize: none;
  width: 100px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid rgb(255, 255, 255);
  position: fixed;
  width: 30%;
  height: 45%;
  box-shadow: 0px 0px 10pt 1pt rgb(255, 255, 255);
  border-radius: 10%;
}

textarea {
  border-radius: 5%;
  font-size: 175%;
  resize: none;
  width: 200px;
  height: 30px;
  font-weight: 800;
  border: none;
  overflow: hidden;
  text-align: center;
}

p {
  font-size: 200%;
  font-weight: 700;
}

h1 {
  font-size: 250%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Londrina Sketch", cursive;
  color: white;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Londrina Sketch", cursive;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #d7d7e0;
  background: #d14fbb;
  background: linear-gradient(
    90deg,
    rgb(230, 129, 191) 0%,
    rgba(235, 116, 189, 0.835) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(235, 116, 189, 0.835);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ce5bc4;
  box-shadow: 0 0 60px rgba(228, 117, 185, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ce5bc4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
